
<html>
    <head>
      <title>Flask Intro</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="static/css/style.css" rel="stylesheet" media="screen">

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="static/js/bootstrap.min.js"></script>
      
      <!--
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
      -->
    </head>
    <body>
        <div class="row">
            <div class="col border bg-info">
                    <h1 class="display-8 fg-white">Deep Learning Demo Application</h1> 
                    <p> naveen.sabapathy@danaherdigital.com</p> 
                
            </div>
                    
        </div>
        <br>    

        <div class="container-fluid">

                 
            <!--
            <h3>Click <a href="/">here</a> to go home.</h3>
            --> 
            <div class="row">
                <div class="col-md-2 shadow border bg-light image-picker">
                    <h4>Pick an image</h4> 
                    <div class="row">
                        <div class="col-md-12">
                            <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100 shadow border" alt="...">
                        </div>
                    </div>
                    <hr class="my-6">
                    <div class="row">
                        <div class="col">
                            <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <hr class="my-6">                    <div class="row">
                    <div class="col-md-12">
                            <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <hr class="my-6">
                    <div class="row">
                        <div class="col">
                            <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <hr class="my-6">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <hr class="my-6">
                    <div class="row">
                        <div class="col">
                            <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <hr class="my-6">
                    <div class="row">
                            <div class="col">
                                <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <hr class="my-6">
                        <div class="row">
                                <div class="col">
                                    <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                                </div>
                        </div>
                        <hr class="my-6">
                        <div class="row">
                            <div class="col">
                                <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                            </div>
                        
                        </div>
                        <hr class="my-6">

                        <div class="row">
                            <div class="col">
                                <img src="http://placehold.it/1600x900?text=Product+03" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <hr class="my-6">
                </div>
                <div class="col border bg-light">
                    2 of 2 
                </div>

            </div>
             

        
             

    
        </div>
    
    </body>
</html>

 